.accordion details {
  border: 0;
    border-bottom: .5px solid;
    padding: 16px;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 24px;
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary {
  position: relative;
  padding: 20px 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: hidden; /* Prevents overflow */
  display: flex;    /* Ensures the content is aligned properly */
  align-items: center;
}
summary
{
  display: block;
    font-family: ut-bold;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 45px;
    padding-bottom: 10px;
}

/* .accordion details[open] summary {
  background-color: var(--light-color);
} */

/* .accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--light-color);
} */

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '+';
  font-size: 36px; /* Increase font size */
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  transition: transform 0.2s;
  line-height: 1;
}

.accordion details[open] summary::after {
   transform: translateY(-50%) rotate(45deg);
}

.accordion details .accordion-item-body {
  padding: 20px 16px;
}

.accordion-item-body pre
{
    background-color: white;
}
.image-1
{
    height: 50px !important;
    width: 40px !important;
    margin-right: 20px;
}
.image-2
{
        margin-right: 13px;
    margin-top: -22px;
    width: 13px !important;
    height: 14px !important;
}
.cards-sub-inner-1
{
    display: flex;
}
.cards-sub-inner-2
{
    display: flex;
    margin-left: 20%;
    width: 70%;
    align-items: center;
}
.cards-sub-inner-2 p {
  margin: 0; /* Remove default margin */
  line-height: 1; /* Adjust line height */
  position: relative; /* Enable fine-tuning */
  top: -2px; /* Move text slightly upwards */
}
.cards-wrapper 
{
    display: flex;
    flex-wrap: wrap;
}
.cards-inner 
{
    width: 27% !important;
  border: 1px solid #e5e4e5;
  margin-right: 10px;
  padding: 30px; /* Add more padding for a larger height */
  height: 80px !important; /* Remove fixed height if it's restricting content */
  margin-bottom: 10px;
}
.cards-inner a 
{
  color: #374151 !important;
}
.cards-inner a:hover
{
  text-decoration: none;
}
.cards-sub-inner-1 p 
{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}