.header-secondary-1
{
    display: flex;
    justify-content: space-between;
}
.secondary-1 picture img
{
    width: 140px !important;
}
.secondary-3 table tbody tr td:nth-child(2) picture img
{
    width: 100px !important;
}

.secondary-2 table tbody 
{
    display: flex;
}
.secondary-2 table
{
    padding-top: 20px;
}
.secondary-2 table tbody tr td 
{
    display: flex   ;
}
.secondary-2
{
    border: 1px solid black;
    width: 50%;
}
.secondary-2 table tbody tr:not(:first-child)
{
    padding-top: 7px;
    padding-right: 10px;
}
